* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: #222;
  }

  .tittle {
    text-align: center;
    margin-top: 20px;
    background-image: url(./img/Tong-hop-cac-mau-background-thien-nhien-dep-nhat-1-1536x864.jpeg);
    padding: 30px;
    color:darkgreen;
  }
  .tittle p{
    padding: 10px;
  }

  #menu {
    position: relative;
    z-index: 2;
  }
.search-container {
    float: right;
    display: inline;
    top: 0px;
    min-width: 50px;
    padding-right: 20px;
    height: 50px;
    transition: width 0.3s ease;
}
  #menu ul {
    background: #7FFFD4;
    list-style-type: none;
    position: relative;
  }
  
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    /* height: 40px; */
    line-height: 40px;
    position: relative;
    text-align: center;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: #222;
    display: block;
  }
  #menu ul li a:hover {
    background: #F1F1F1;
    color: #0C0A0A;
    position: relative;
  }

  .sub-menu {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 120px;
    text-align: center;
   }

   #menu ul li:hover .sub-menu {
    display: block;
    position:absolute;
  }

  .search-container {
    margin-top: 10px;
  }

  /*Content*/

  #learning, #reading, #blog-intro{
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 0px;
    position: relative;
  }
  #blog-intro{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
    background-color: #f2f2f2;
    margin-left: 0;
    margin-right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #about img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    size: 100px;
    
  }
  
  #about p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
  }
  
  /*contact*/
  .form-control {
    margin: 0 -16px 8px -16px;
    border-width: 2px;
  }

  .highlight {
    background-color: yellow !important;
    font-weight: bolder;
  }
  
